@import "tailwindcss";

/* Apply Roboto Mono font globally */
html,
body {
  font-family: 'Cascadia Code', monospace;
}

body {
  position: relative;
  /* background-image: url('https://res.cloudinary.com/dx8d5hlk1/image/upload/v1764732188/hoach-le-dinh-c8TWWQ5ZnUw-unsplash_qnk4i4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh; */
}