---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import WeightInput from './WeightInput.astro';
import WeightList from './WeightList.astro';
import Graph from './Graph.astro';
---

<div>
	<main>
		<section>
      <Graph />
			<WeightInput />
			<WeightList
		</section>
	</main>
</div>