---
import WeightInput from "./WeightInput.astro";
import WeightList from "./WeightList.astro";
import Graph from "./Graph.astro";
---

<div class="container layout column center">
  <div class="s12 m8 l6 full-width">
    <header class="row center-align center-justify large-padding">
      <h1 class="primary-text">Weight Tracker</h1>
      <span class="large-text">⚖️</span>
    </header>
    
    <div>
      <Graph />
      <WeightInput />
      <WeightList />
    </div>
  </div>
</div>