---
import "../styles/global.css";
import CookieAlert from "../components/CookieAlert.astro";
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap" rel="stylesheet">
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Log your weight loss quickly and easily. Data is stored locally in your browser.  No signup required!" />
    <meta name="keywords" content="weight loss tracker, weight tracker, weight loss, weight log, weight history, weight management, health tracker, fitness tracker, private" />
    <title>Simple Weight Loss Tracker</title>

    <script type="text/javascript">
      function mixPanelInit() {
        (function (f, b) { if (!b.__SV) { var e, g, i, h; window.mixpanel = b; b._i = []; b.init = function (e, f, c) { function g(a, d) { var b = d.split("."); 2 == b.length && ((a = a[b[0]]), (d = b[1])); a[d] = function () { a.push([d].concat(Array.prototype.slice.call(arguments, 0))); }; } var a = b; "undefined" !== typeof c ? (a = b[c] = []) : (c = "mixpanel"); a.people = a.people || []; a.toString = function (a) { var d = "mixpanel"; "mixpanel" !== c && (d += "." + c); a || (d += " (stub)"); return d; }; a.people.toString = function () { return a.toString(1) + ".people (stub)"; }; i = "disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking start_batch_senders people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split( " "); for (h = 0; h < i.length; h++) g(a, i[h]); var j = "set set_once union unset remove delete".split(" "); a.get_group = function () { function b(c) { d[c] = function () { call2_args = arguments; call2 = [c].concat(Array.prototype.slice.call(call2_args, 0)); a.push([e, call2]); }; } for ( var d = {}, e = ["get_group"].concat( Array.prototype.slice.call(arguments, 0)), c = 0; c < j.length; c++) b(j[c]); return d; }; b._i.push([e, f, c]); }; b.__SV = 1.2; e = f.createElement("script"); e.type = "text/javascript"; e.async = !0; e.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ? MIXPANEL_CUSTOM_LIB_URL : "file:" === f.location.protocol && "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js"; g = f.getElementsByTagName("script")[0]; g.parentNode.insertBefore(e, g); } })(document, window.mixpanel || []);
        mixpanel.init("e3475a6114c89ee64ecddb08230b2c31", {
          disable_persistence: true,
          autotrack: false,
          persistence: 'cookie'
        });
        const userAgent = navigator.userAgent;
        mixpanel.track("Page View", { "Page URL": window.location.href, "full_user_agent": userAgent });
      }

      const intervalId = setInterval(() => {
        const cookieConsent = localStorage.getItem("cookieConsent");
        if (cookieConsent) {
          if (cookieConsent === "accepted") {
            console.log("User has accepted cookies");
            mixPanelInit();
          }
          clearInterval(intervalId);
        }
      }, 500);
    </script>
  </head>
  <body class="min-h-screen bg-slate-600 flex flex-col font-mono">
    <main class="flex-1 flex flex-col items-center px-4 sm:px-6 md:px-8 pt-8">
      <slot />
    </main>
    <footer class="w-full max-w-xl mx-auto text-center py-3 text-slate-400 text-xs sm:text-sm bg-transparent flex flex-row justify-center gap-4">
      <a href="/terms" class="underline hover:text-blue-400">Terms & Conditions</a>
      <a href="/privacy" class="underline hover:text-blue-400">Privacy Policy</a>
      <a href="/contact" class="underline hover:text-blue-400">Contact</a>
    </footer>
    <CookieAlert />
  </body>
</html>
